
body{
  position: relative;
  background-color: #000;
  color: #fff;
}

div ul {
  display: flex;
  flex-wrap: wrap;
}

li{
  list-style: none;
}

.ReviewListItem {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding: 10px;
  align-items: center;
}

.ReviewListItem-img {
  max-width: 200px;
  width: 100%;
  height: 300px;
  object-fit: cover;
  margin-right: 20px;
}

.ReviewListItem p{
  font-weight: bold;
  display: block;
  text-align: center;
  font-size: 4rem;
  font-style: italic;
  padding-right: 7px;
}

.ReviewTopItem {
  display: flex;
  justify-content: flex-start;
  padding: 10px;
  align-items: center;
}

.ReviewTopItem-img {
  width: 200px;
  height: 300px;
  object-fit: cover;
  margin-right: 20px;
}

@media screen and (max-width:1980px) {
  .ReviewTopList .swiper-wrapper{
    margin-left: 4rem;
  }
}

@media screen and (max-width:1980px) {
  .ReviewTopItem-img{
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.ReviewTopItem p.num{
  height: 133px;
  font-weight: bold;
  display: block;
  text-align: center;
  font-size: 6rem;
  font-style: italic;
  padding-right: 7px;
}

@media screen and (max-width:1980px) {
  .ReviewTopItem p.num {
    height: 73px;
    font-size: 4rem;
  }
}

/* 커스텀 네비게이션 버튼 스타일 */
.custom-nav-btn .custom-prev,
.custom-nav-btn .custom-next {
  padding: 10px 20px;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 500;
  color: #fff;
}

.custom-nav-btn .custom-prev {
  left: -39px;
}

.custom-nav-btn .custom-next {
  right: -39px;
}

/* 기본적으로 버튼을 숨김 */
.custom-prev,
.custom-next {
  display: none;
}

/* 커스텀 페이지네이션 스타일 */
.lists .custom-pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  position: absolute!important;
  bottom: 41px!important;
  top: inherit!important;
  z-index: 100!important;
  right: 48px!important;
  left: initial!important;
  width: auto!important;
}

.lists .custom-pagination span{
  position: relative;
  display: block;
  cursor: pointer;
  width: 0.667rem;
  height: 0.667rem;
  margin: 0.333rem;
  border-radius: 9999px;
}

.custom-bullet {
  background-color: rgba(255, 255, 255, 0.3);
  width: 12px;
  height: 12px;
  border-radius: 50%;     /* 원형 버튼 */
  margin: 0 5px;
  display: inline-block;
  cursor: pointer;
  opacity: 0.5;           /* 기본 불릿 투명도 */
  text-indent: -9999px;
}

.custom-bullet.swiper-pagination-bullet-active {
  background-color: #ffffff;  /* 활성화된 불릿 빨간색 */
  opacity: 1;                 /* 활성화된 불릿 불투명 */
}

/* listTOP btn 커스텀 */
.ListSlirder{
  position: relative;
}

.custom-top-prev,
.custom-top-next {
  display: block;
}

.custom-nav-btn .custom-top-prev,
.custom-nav-btn .custom-top-next {
  padding: 10px 20px;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 500;
  color: #fff;
}

.custom-nav-btn .custom-top-prev {
  left: -39px;
}

.custom-nav-btn .custom-top-next {
  right: -39px;
}


/* list btn 커스텀 */
.ListSlirder{
  position: relative;
}

.custom-list-prev,
.custom-list-next {
  display: block;
}

.custom-nav-btn .custom-list-prev,
.custom-nav-btn .custom-list-next {
  padding: 10px 20px;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 500;
  color: #fff;
}

.custom-nav-btn .custom-list-prev {
  left: -39px;
}

.custom-nav-btn .custom-list-next {
  right: -39px;
}